h1 {
    font-family: serif;
}

div {
    background-color: #ffe1e6;
}

div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: sans-serif;

}

h2 {
    display: flex;
    justify-content: center;
    font-family: serif;
}


img {
    display: flex;
    justify-content: center;
}

body {
    margin: 0px;
}

p {
    margin: 30px;
    font-family: sans-serif;
}

img {
    margin: 50px;
}

lol {
    display: flex;
    align-content: flex-end;
}
