

h1 {
    font-family: serif;
}

div {
    background-color: #ffe1e6;
}

div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: sans-serif;

}

h2 {
    display: flex;
    justify-content: center;
    font-family: serif;
}


p4 {
   display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 200px;
    right: 200px;
}

logo {
    margin: 30px;
}

body {
    margin: 0px;
}

p {
    margin: 30px;
    font-family: sans-serif;
}

img2 {
    display: flex;
    justify-content: center;
}
